body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* top banner start */
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
.container{
    display: flex;
    margin-bottom: 40px;
    height: 500px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width: 80%;
}
.btn{
    background-image: linear-gradient(90deg, salmon, tomato);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 20px;
}
.btn:hover{
    background-image: linear-gradient(180deg, blue, skyblue);
    font-size: 25px;
    color: black;
}

/* top banner end */

/*  dream area start */
h2{
    font-size: 40px;
}
.btn2{
    background-image: linear-gradient(90deg, blue, skyblue);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 20px;
}
.btn2:hover{
    background-image: linear-gradient(180deg, tomato, salmon);
    font-size: 25px;
    color: black;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/*  dream area end */

/* Experience area start */
h3{
    color: orange;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
.experience-item{
    box-shadow: 10px 20px 40px gray; 
    width:50% ; 
    margin: 30px;
    padding: 10px;
    height: 80%;
}
#Full-Stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, skyblue, tomato);
    border-image-slice: 1;
}
#Baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}


/* Experience area end */

/* footer start */
footer p{
    text-align: center;
}
    
